{% extends "layout.html" %}

<!-- {% block heading %}
first LoginPage
{% endblock %} -->

{% block content %}
<div>
    <nav class="navbar navbar-dark bg-dark">
        <h5 class="text-white h4">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/">Logout</a>
        </h5>
        
    </nav>

</div>


<h4>Admin PAGE</h4>
<div style="text-align: center;margin-left: 15%;margin-right: 15%;">
    <h3>Admin details</h3><br>
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">isbn</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">year</th>
            
          </tr>
        </thead>
        <tbody>
          {% for Shelf in users %}
          <tr>
            <td>{{Shelf.isbn}}</td>
            <td>{{Shelf.title}}</td>
            <td>{{Shelf.author}}</td>
            <td>{{Shelf.year}}</td>
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>


{% endblock %}

